body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://wallpapercave.com/wp/wp2757874.gif");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #222234;
  overflow: hidden; 
  position: absolute;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  top: 0px;
  left: 0px;
}

#navbar a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 25px 25px; 
  text-decoration: none;
  font-size: 17px;
  transition-duration: 1s;
  
}

#navbar a:hover {
  background-color: rgba(45, 45, 45, 0.75);
  transition-duration: 1s;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 128, 75);
  letter-spacing: 1px;
}

.move {
  position: absolute;
}

.title {
  background: -webkit-linear-gradient(rgb(253, 236, 0), rgba(219, 133, 3, 0.623)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.text1 {
  background: -webkit-linear-gradient(rgb(0, 253, 219), rgb(18, 87, 47)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
}

 .intro {
 position: absolute; 
top: 50%;
left: 50%; 
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
 margin-top: -150px; 
padding: 0;
text-shadow: 0 2px 5px rgba(0,0,0,.5);
  } 

  .typing1 {
    background: -webkit-linear-gradient(rgb(17, 0, 253), rgb(219, 10, 10)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
  }

  .typing {
    /* display: inline-block; */
    width: 3px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
  }

  @keyframes blink {
0% {background-color: #ccc;}
49% {background-color: #ccc;}
50% {background-color: transparent;}
99% {background-color: transparent;}
100% {background-color: #ccc;}
  }

  .intro h2 {
    overflow: hidden;
    padding: 0.5rem;
  }

::-webkit-scrollbar{
  width: 12px;
  background:#222234;
}


   ::-webkit-scrollbar-thumb {
    background:linear-gradient(transparent, #0104c0, #222234);
    border-radius: 3px;
  } 

  ::-webkit-scrollbar-thumb:hover {
    background:linear-gradient(transparent, #c06701, #222234);
  }

  .experience {
background-color: white;
border: 20px white solid;
border-radius: 10px;
 margin-top: 200px; 
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
width: 50%;
  } 

  .box1 {
border-right: 1px solid rgba(77, 77, 77, 0.678);
text-align: center;
font-size: 25px;
padding: 20px;
  }

  .box2 {
    border-right: 1px solid rgba(77, 77, 77, 0.678);
    text-align: center;
    font-size: 25px;
    padding: 20px;
  }

  .box3 {
text-align: center;
font-size: 25px;
padding: 20px;
  }

  .mainbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Quicksand', sans-serif;
    color:rgb(4, 158, 150)
  }

  .story {
    color: black;
    font-size: 18px;
    line-height: 35px;
  }

  .moto1 {
    font-size: 18px;
    font-weight: bold;
    color:#052d83;
    line-height: 35px;
  }

  .liked {
    font-size: 18px;
    color: black;
    line-height: 35px;
  }

  .story2 {
    font-weight: normal;
    color: black;
    font-size: 18px;
    line-height: 35px;
  }


  .story3 {
    font-weight: normal;
    color: black;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
  }